<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宠物系统</title>
</head>
<body>
    <table>
        <tr bgcolor="aqua">
            <td>宠物名</td>
            <td>宠物编号</td>
            <td>宠物性别</td>
            <td>宠物年龄</td>
            <td>种类</td>
            <td>操作</td>
        </tr>
        {% for pet in pets %}
        <tr>
            <td bgcolor="#ff7f50">{{pet.petName}}{{disable}}</td>
            <td bgcolor="#ff8c00">{{pet.petId}}</td>
            <td bgcolor="#deb887">{{pet.gender}}</td>
            <td bgcolor="#daa520">{{pet.year}}</td>
            <td bgcolor="#8a2be2">{{pet.kind}}</td>
            <td bgcolor="red"><a href="/petlist/{{ pet.id }}">删除</a></td>
            <td bgcolor="red"><a href="{% url 'editpet' %}?id={{ pet.id }}">修改</a></td>
        </tr>
        {% empty %}
        没有宠物信息
        {% endfor %}
    </table>
    <a href="{% url 'addPet' %}">添加新宠物</a>
    <div>
        <span>
           总共：
        </span>

        <span>
             <p><a href="/output">导出csv</a></p>
        </span>
    </div>
 <ul class="pagination" id="pager">
        {% if pets.has_previous %}
            <li class="previous"><a href="/?page={{ pets.previous_page_number }}">上一页</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}
        {% for num in paginator.page_range %}
            {% if num == currentPage %}
                <li class="item active"><a href="/?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="item"><a href="/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if pets.has_next %}
            <li class="next"><a href="/?page={{ pets.next_page_number }}">下一页</a></li>
        {% else %}
            <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
        {# 下一页按钮结束#}
    </ul>
</body>
</html>